*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.50%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    /* border: 1px solid slateblue; */
}

.container > * {
    /* border: 1px solid black; */
}

/* ------------header------------ */

header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(270deg, #142481, #5182b9);
    border-bottom: 1px dashed white;
    padding: 1em 0;;
}

.logo {
    /* border: 1px solid white; */
}

.nav-links {
    /* border: 1px solid white; */
    max-width: 700px;
}

.nav-links ul {
    /* border: 1px solid white; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links ul li {
    padding: .6em 4em;
    /* border: 1px dotted white; */
}

.nav-links ul li .link {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    display: flex;
    letter-spacing: 1px;
    text-align: center;
    padding: 0.75em 0;
}

.nav-links .active {
    border-bottom: 1px solid white;
}

/* ------------hero------------ */

.hero {
    min-height: 80vh;
    background: url('images/hero.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text h1 {
    font-size: 5rem;
    font-weight: lighter;
    margin: 0 0 0.4em 0;
    color: #daf3fd;
    /* border: 1px solid white; */
}

.hero-text p {
    font-size: 2.2rem;
    font-weight: 100;
    font-style: italic;
    max-width: 25em;
    color: #c6efff;
    /* border:1px solid white; */
}

.hero-text {
    /* border: 1px solid white; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(20, 43, 118, 0.55), rgba(20, 43, 118, 0.2));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10em;
}

   

.title {
    /* border: 1px dotted black; */
    font-size: 3.5em;
    font-weight: lighter;
    text-align: center;
    color: #ce5e76d9;
}

.summary, .about-text {
    /* border: 1px dotted brown; */
    font-size: 1.6rem;
    line-height: 1.5em;
    max-width: 80%;
    margin: 2em auto;
    color: #143774;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#products-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 0;
    /* background:white; */
}

.product-grid {
    /* border: 1px dotted black; */
    display: flex;
    justify-content: space-evenly;
    padding: 0 2em;
}

.product {
    border: 1px solid rgb(224, 223, 223);
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    background-color: #f1f1f7;
    padding-bottom: 2em;
    border-radius: 5px;
}

.product > * {
    /* border: 1px dotted brown; */
    flex-basis: 100%;
}

.product .image img{
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
}

.product p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.8em;
    color: #9c9c9c;
}

.product .product-info {
    color:rgb(65, 64, 64);
}

.product .btn {
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #ce4361d9;
    align-self: flex-end;
    padding: 0.8em 0;
    flex-basis: 100px;
    text-align: center;
    color:white;
    border-radius: 4px;
    margin-top: 0.75em;
}


#about-us {
    /* border: 1px solid red; */
    background:#ebebfa;
    padding: 3em 0 6em 0;
}

.internal-wrapper {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items : center;
}

.about-text {
    margin: 0;
}

.secret {
    visibility: hidden;
}


blockquote {
    font-size: 3.5rem;
    font-style: italic;
    color: #595d8f;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#contact {
    background-image: linear-gradient(270deg, #142481, #5182b9);
    color: white;
    padding: 5em 0;
}

.contact-title {
    margin: 0;
    color: white;
}

.bottom-wrapper {
    /* border: 1px solid white; */
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.social-copyright {
    /* border: 1px dotted white; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
} 

.business-details {
    /* border: 1px dotted white; */
    display: flex;
    flex: 2;
}

.owner-details, .address {
    flex: 1;
    /* border: 1px solid white; */
}

.owner-details {
    text-align: left;
}

.business-details p, .social-copyright p {
    margin: .5em;
}

.email-id {
    color: white;
}

.hours-text {
    font-size: 1.4rem;
}

 .social {
    text-align: right;
}

.social-icon {
    font-size: 1.5rem;
    margin: .2em;
    color: white;
}

p.copyright {
    margin-bottom: 0;
    font-size: 1.2rem;
}


@media all and (max-width:1060px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .logo {
        border-bottom: 1px dashed white;
        padding: 1em 0;
    }

     .nav-links {
        padding: 3em 0;
    }

    .nav-links ul li .link {
        font-size: 1.5rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 2rem;
    }

    blockquote {
        font-size: 3rem;
    }

    .contact-title {
        font-size: 3em;
    }

    .bottom-wrapper {
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .name {
        font-size: 1.6rem;
    }

    /* .social-icon {
        font-size: 1.35rem;
    } */
}

@media all and (max-width:920px) {
    
    .hero-text {
        align-items: center;
        padding-left: 0;
        text-align: center;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 3rem;
    }

    .summary {
        font-size: 1.4rem;
    }

    .about-text p {
        font-size: 1.5rem;
    }

    .business-details {
        flex-direction: column;
        flex: 1;
    }

    .address {
        text-align: left;
    }
}

@media all and (max-width:710px) {

    header {
        padding: 0;
    }

    .hero-text h1 {
        font-size: 3.2rem;
        max-width: 85%;
    }

    .hero-text p {
        font-size: 1.8rem;
        max-width: 60%;
    }

    .nav-links {
        border-top: 1px dashed white;
        padding: 0;
    }

    .nav-links ul {
        flex-wrap: wrap;
    }

    .logo {
        border: none;
    }
    
    .nav-links ul li {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        padding: 1.5em 0;
    }

    .bottom-wrapper {
        flex-direction: column;
    }

    .owner-details {
        text-align: center;
    }

    .business-details {
        margin: 2em 0;
    }

    .address {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .social-copyright {
        align-items: center;
    }

    
}